@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar li{
  @apply border-l-2 hover:border-fb-blue transition px-2 hover:text-gray-100
}
 
.form-err-msg{
  @apply text-red-500 text-sm self-start
}

.form-input-field{
  @apply rounded-sm p-3 w-full bg-gray-100
}

.focus-outline-blue{
  @apply focus:outline-none focus:ring focus:border-blue-300
}

.friendController{
  @apply cursor-pointer text-xs flex items-center gap-2 p-1 text-white font-bold bg-fb-blue rounded-sm float-right
} 

.marker-card{
  @apply flex gap-2 items-center w-9/10 bg-gray-800 p-2 text-sm text-white cursor-pointer transition hover:bg-fb-blue-light rounded-sm
}

.marker-card-selected{
  @apply flex gap-2 items-center w-9/10 bg-fb-blue-light p-2 text-sm text-white cursor-pointer transition rounded-sm
}

.glassmorphism-light{
  background: rgba( 182, 182, 188, 0.15 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 3px;
}

.overlay-shadow{
  box-shadow: 0 0 0 1400px rgba(0, 0, 0, 0.5);
}

.top-shadow{
  box-shadow: 0px -4px 8px rgba(141, 140, 140, 0.25)
}

.blue-underline-input:focus{
  outline: none !important;
  border-bottom: 2px solid #1877f2;
  caret-color: #1877f2;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 13px;
} 

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
  transition: 0.5s;
  border-radius: 5px;

  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(109, 109, 109);
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}