@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar li{
  @apply border-l-2 hover:border-fb-blue transition px-2 hover:text-gray-100
}
 
.form-err-msg{
  @apply text-red-500 text-sm self-start
}

.form-input-field{
  @apply rounded-sm p-3 w-full bg-gray-100
}

.focus-outline-blue{
  @apply focus:outline-none focus:ring focus:border-blue-300
}

.friendController{
  @apply cursor-pointer text-xs flex items-center gap-2 p-1 text-white font-bold bg-fb-blue rounded-sm float-right
} 

.glassmorphism-lighter{
  background: rgba( 182, 182, 188, 0.15 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
}

.blue-underline-input:focus{
  outline: none !important;
  border-bottom: 2px solid #1877f2;
  caret-color: #1877f2;
}

::-webkit-scrollbar {
  width: 13px;
} 

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
  transition: 0.5s;
  border-radius: 5px;

  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(109, 109, 109);
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}